
@{
    ViewBag.Title = "Healthcare";
}
<section class="container section">
    <div class="container">
        <h2 class="big-title">Healthcare</h2>
        <div class="space-sm"></div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-5 wow fadeInLeft animated" style="visibility: visible;">
                <div class="space visible-sm"></div>
                <img class="img-responsive" alt="about us" src="/assets/img/photodune-4107116-meeting-s.jpg">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-7 wow fadeInRight animated" style="visibility: visible;">
                <p>Our company boasts of being one of the few that takes a strong stand in the well-being of the customer, by offering a variety of Healthcare coverage; thereby protecting the client from future disasters including losses incurred whether physical or financial.</p>
                <div class="space"></div>

                <ul class="info-list md-list style i-primary">
                    <li>
                        <i class="fa fa-play"></i>Life, annuity and retirement services.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>System integration and maintenance for Healthcare.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Healthcare connectivity advisory solution.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Real time access to information.
                    </li>

                </ul>
            </div>
        </div>


    </div>
</section>
