
@{
    ViewBag.Title = "Index";
}
<div class="tab-content ">

    <div class="tab-pane active fade in margin-b30" id="categories">
        <section class="section">
            <div class="section-md bg-grey-4">
                <div class="container">

                    <h2>Industries</h2>
                    <p class="text-block">
                        Transcendent’stechnology experts possess extensive industry knowledge. We help identify the best technical solutions to meet your software development and budgetary needs. Regarded as experts in the various industries we service, Transcendent has designed, developed, and deployed a wide variety of technological software solutions for niche markets.
                    </p>
                    <p class="text-block">Transcendent has the knowledge and skill sets to create unique software solutions from scratch or using 3rd party integrations. We perform work for hire services to develop dependable software solutions. We have worked with many clients to build comprehensive software technologies across on-site, mobile, web, and cloud-based platforms. Whether you are in need of a complete software solution or just looking to augment your team with skilled developers, we have the development solutions you need to take your software to the next level.</p>
                </div>
            </div>
        </section>

        <div class="container section">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-user icon-c"></i>
                        <div class="float-text">
                            <h3><a href="@Url.Action("Insurence", "Industries")">Insurence</a></h3>  
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-lock icon-c"></i>
                        <div class="float-text">
                            <h3>E-learning & Education</h3>

                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-phone icon-c"></i>
                        <div class="float-text">
                            <h3>Finance and Banking</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-wrench icon-c"></i>
                        <div class="float-text">
                            <h3>Game and Entertainment</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-credit-card icon-c"></i>
                        <div class="float-text">
                            <h3>Healthcare</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-bullhorn icon-c"></i>
                        <div class="float-text">
                            <h3>Hospitality</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-fa fa-search icon-c"></i>
                        <div class="float-text">
                            <h3>Legal</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-signal icon-c"></i>
                        <div class="float-text">
                            <h3>Payments</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-desktop icon-c"></i>
                        <div class="float-text">
                            <h3>Retail</h3>

                        </div>
                    </div>
                </div>
            </div>

        </div></div></div>



