
@{
    ViewBag.Title = "SLA - based Production Support";
}
<section class="container section">
    <div class="container">
        <h2 class="big-title">SLA - based Production Support</h2>
        <div class="space-sm"></div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-5 wow fadeInLeft animated" style="visibility: visible;">
                <div class="space visible-sm"></div>
                <img class="img-responsive" alt="about us" src="/assets/img/photodune-4107116-meeting-s.jpg">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-7 wow fadeInRight animated" style="visibility: visible;">
                <p>The history of mobile application development is traced back to the history and evolution of mobile Apps. Everyone loves the inspiring the world mobile application since it has made smarter and better applications for device delivery, which can be done while sitting over a cup of coffee at our location. The world has come to terms with the fact that apps are the way to go in information technology. For better service delivery, our company came up with recent apps in mobile technology, which are very effective and not buggy by ensuring the apps allow combination with other clients’ Apps.</p>
                <div class="space"></div>
                
                <ul class="info-list md-list style i-primary">
                    <li>
                        <i class="fa fa-play"></i>Android development.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Web based mobille app development.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>iOS development.
                    </li>
                 
                </ul>
            </div>
        </div>


    </div>
</section>
