@{
    ViewBag.Title = "About";
} 
<section class="bg-19 bg-center bg-cover">
    <div class="bg-filter">
        <div class="container section-lg">
            <h1 class="top-title">About Us</h1>
        </div>
    </div>
</section>
<section class="bg-grey-2">
    <div class="container section">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-5 wow fadeInLeft">
                <div class="space visible-sm"></div>
                <img class="img-responsive" alt="about us" src="/assets/img/photodune-4107116-meeting-s.jpg">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-7 wow fadeInRight">
                <h2>5 reasons to choose us</h2>
                <p>Pellentesque pretium lectus id turpis. Etiam quis quam. Excepteur sint occaecat cupidatat non proident. Vestibulum tortor id mi.</p>
                <div class="space-sm"></div>
                <ul class="info-list md-list style i-primary">
                    <li>
                        <i class="fa fa-play"></i>Pellentesque pretium lectus id turpis.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Excepteur sint occaecat cupidatat non proident.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Aliquam erat volutpat. Fusce tellus odio.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Vestibulum fermentum tortor id mi.
                    </li>
                    <li>
                        <i class="fa fa-play"></i>Duis viverra diam non justo.
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section>

@*<section class="knobs noTop section container">
    <div class="space-lg"></div>
    <h2 class="sr-only">Our Skills</h2>
    <!--Light Blue Knobs -->
    <div class="row" id="LightBlueKnobs">
        <div class="col-md-3 col-sm-6 knob">
            <input class="lbKnob" value="90">
            <h3>Html5/CSS3</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob ">
            <input class="lbKnob" value="65">
            <h3>Photoshop</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob">
            <input class="lbKnob" value="85">
            <h3>JavaScript</h3>
        </div>

        <div class="col-md-3 col-sm-6 knob">
            <input class="lbKnob" value="70">
            <h3>jQuery</h3>
        </div>
    </div>
    <!-- Blue Knobs -->
    <div class="row" id="BlueKnobs">
        <div class="col-md-3 col-sm-6 knob  ">
            <input class="bKnob" value="90">
            <h3>Html5/CSS3</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob ">
            <input class="bKnob" value="65">
            <h3>Photoshop</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob">
            <input class="bKnob" value="85">
            <h3>JavaScript</h3>
        </div>

        <div class="col-md-3 col-sm-6 knob">
            <input class="bKnob" value="70">
            <h3>jQuery</h3>
        </div>
    </div>
    <!-- Green Knobs -->
    <div class="row" id="GreenKnobs">
        <div class="col-md-3 col-sm-6 knob  ">
            <input class="gKnob" value="90">
            <h3>Html5/CSS3</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob ">
            <input class="gKnob" value="65">
            <h3>Photoshop</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob">
            <input class="gKnob" value="85">
            <h3>JavaScript</h3>
        </div>

        <div class="col-md-3 col-sm-6 knob">
            <input class="gKnob" value="70">
            <h3>jQuery</h3>
        </div>
    </div>
    <!-- Red Knobs -->
    <div class="row" id="RedKnobs">
        <div class="col-md-3 col-sm-6 knob  ">
            <input class="rKnob" value="90">
            <h3>Html5/CSS3</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob ">
            <input class="rKnob" value="65">
            <h3>Photoshop</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob">
            <input class="rKnob" value="85">
            <h3>JavaScript</h3>
        </div>

        <div class="col-md-3 col-sm-6 knob">
            <input class="rKnob" value="70">
            <h3>jQuery</h3>
        </div>
    </div>
    <!-- Yellow Knobs -->
    <div class="row" id="YellowKnobs">
        <div class="col-md-3 col-sm-6 knob  ">
            <input class="yKnob" value="90">
            <h3>Html5/CSS3</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob ">
            <input class="yKnob" value="65">
            <h3>Photoshop</h3>
        </div>
        <div class="col-md-3 col-sm-6 knob">
            <input class="yKnob" value="85">
            <h3>JavaScript</h3>
        </div>

        <div class="col-md-3 col-sm-6 knob">
            <input class="yKnob" value="70">
            <h3>jQuery</h3>
        </div>
    </div>
</section>*@

<section class="container section">
    <div class="row">
        <div class="col-md-5 col-xs-12 wow fadeInLeft">
            <h2>Our Growth</h2>
            <p class="text-block-v1">Pellentesque pretium lectus id turpis. Etiam quis quam. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="space-lg visible-sm"></div>
        </div>
        <div class="col-md-7">
            <div class="text-center hidden-xs wow fadeInRight">
                <canvas id="chart" width="450" height="250"></canvas>
            </div>
        </div>
    </div>
</section>

<section class="section-lg bg-grey-2">
    <div class="container">
        <h2 class="big-title text-center">Our Customers</h2>
        <p class="big-subtitle text-center">Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
        <div class="space"></div>
        <div class="row client-logo">
            <img alt="logo of client - Yahoo" src="/assets/img/logos/Yahoo.png">

            <img alt="logo of client - Coca-Cola" src="/assets/img/logos/Coca-Cola.png">

            <img alt="logo of client - Google" src="/assets/img/logos/Google.png">

            <img alt="logo of client - Nike" src="/assets/img/logos/Intel.png">
        </div>
    </div>
</section>

<!--===/END    MAIN WRAP     ===-->
