@{
    ViewBag.Title = "Home Page";
}
<style>
    .sy-caption-wrap { 
    bottom: 5em; 
     cursor: pointer;
}

</style>
<!--===    HEADER     ===-->
<section class="section" style="padding:0 !important">         
        <ul id="slider-main" style="display:none">
            <li>               
                    <img src="/assets/img/1920w/macbook-air-all-faded-and-stuff.jpg"  style="height:980px!important" alt="Learn more">
               
            </li>
            <li>               
                    <img src="/assets/img/1920w/7321.jpg"  style="height:980px!important" alt="Learn more">
               
            </li>
            <li>              
                    <img src="/assets/img/1920w/DeathtoStock_Desk1.jpg" style="height:980px!important" alt="Learn more">
               
            </li>
        </ul>
    <div class="space"></div><div class="space"></div>
</section>


    <!--===/END      HEADER     ===-->

   
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-check hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.2s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.4s">Services</h3>
                        <p class="wow fadeIn" data-wow-delay="0.4s">Go far with our services</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-lightbulb-o hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.4s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.6s">Technologies</h3>
                        <p class="wow fadeIn" data-wow-delay="0.6s">Technologies when it has to get done</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-user hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.6s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.8s">Industries</h3>
                        <p class="wow fadeIn" data-wow-delay="0.8s">Industries we serve, just the best</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-cloud hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.8s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="1s">Portfolio</h3>
                        <p class="wow fadeIn" data-wow-delay="1s">Savour the Flavour of Our portfolio</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-lg bg-grey">
        <div class="container">
            <div class="row">
                <h2 class="lg-title lg-title-border">Our Strengths</h2>
                <!--fadeInLeft-->
                <div class="col-sm-6 wow fadeInLeft">
                  <p>Transcendent works across a myriad of industry segments. Our teams are organized in virtual divisions that have the domain expertise and know-how within each industry to offer exceptional technology solutions.</p>                   
                    <div class="space-sm"></div>
                    <ul class="info-list md-list style i-primary">
                        <li>
                            <i class="fa fa-play"></i><b>Lean Structure</b> -  Implies that our employees are much closer to the customers, allowing for both an understanding of how your company works and increased customer satisfaction.
                        </li>
                        <li>
                            <i class="fa fa-play"></i><b>Close to the Customer</b> - Presence in US allows to have a close contact with the customer. Customer issues are handled faster and on a more personal basis.
                        </li>
                        <li>
                            <i class="fa fa-play"></i><b>Quick to Change</b> - Being a small business, we have the distinct advantage of changing our plans/ tactics much faster than the larger competitors, which allows us to bring a product to market more efficiently and quickly.
                        </li>
                        <li>
                            <i class="fa fa-play"></i><b>Collective expertise</b>- Having exposure to numerous fields our staff provides significant advisory and implementation advantages. The expertise also comes from alignment with various IT Partners.
                        </li>
                    </ul>
                    <div class="space visible-xs"></div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <img class="img-mw450" src="/assets/img/Showcase-Template-Flat-Presentation-Vol-3-portfolio.png" alt="Flat showcase presentation">
                </div>
            </div>
        </div>
    </section>

<div class="bg-11 bg-center bg-fixed">
    <div class="filling-section bg-filter-v1"></div>
</div>
    <!-- Our works/ projects section -->
    <section class="section-lg">
        <div class="container">
            <h2 class="lg-title lg-title-border">Some Recent Work</h2>
            <ul class="filter-tabs">
                <li class="filter active" data-filter="mix">
                    <span>All</span>
                </li>
                <li class="filter" data-filter="mobile">
                    <span>Mobile</span>
                </li>
                <li class="filter" data-filter="cloud">
                    <span>Cloud</span>
                </li>
                <li class="filter" data-filter="web">
                    <span>Web Apps</span>
                </li>
            </ul>
            <ul class="row  filter-grid-v2" id="Grid">
                <!-- Item 1 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.5s">
                            <img src="/assets/img/sign-up-sketch.jpg" class="img-responsive" alt="Portfolio - application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- mix - select all, devices - filter only devices -->
                <!-- Item 2 -->
                <li class="col-md-4 col-sm-6 mix apps web ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.25s">
                            <img src="/assets/img/minimal-wireframe-assets.jpg" class="img-responsive" alt="Websites Layout">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Web Development</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 3 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.75s">
                            <img src="/assets/img/App-Preview.jpg" class="img-responsive" alt="Portfolio - application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 4 -->
                <li class="col-md-4 col-sm-6 mix cloud ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.6s">
                            <img src="/assets/img/macbook.jpg" class="img-responsive" alt="Apple Macbook Pro">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>cloud</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 5 -->
                <li class="col-md-4 col-sm-6 mix web ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.35s">
                            <img src="/assets/img/webdesign.jpg" class="img-responsive" alt="Webdesign">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Web Development</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 6 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.85s">
                            <img src="/assets/img/app-screen.jpg" class="img-responsive" alt="application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="bg-11 bg-fixed bg-center">
        <div class="section-lg bg-filter-v2">
            <div class="container">
                <div id="testimonial" class="carousel slide" data-ride="carousel" data-interval="9000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="testimonial">
                                <p>
                                   We depend on Transcendent, for all our iOS and Android work. The team from Transcendent is highly professional and never hesitates to walk the extra mile to meet our deadlines, in addition they are inexpensive but quality of their work is unparalleled.
Thank you Transcendent.
                                </p>
                                <div class="space-sm"></div>
                                <em>- David K</em>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <p>
                                    It took us some time to find someone who could accomplish what we needed for our e-commerce site. I have to say it was well worth the wait. 
The team from Transcendent was a total pleasure to work with. Their patience and professionalism exceeded our expectations. 
We always felt like our work was the top priority. 
<br>So if you want a professional e-commerce site, Transcendent would be a great IT partner.
                                </p>
                                <div class="space-sm"></div>
                                <em>- Jim Shrenker</em>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pricing tables -->
    <div id="get-started"></div>
    @*<section class="section">
            <div class="container">
                <h2 class="lg-title lg-title-border">Our plans</h2>
                <div class="space-sm"></div>
                <div class="row">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="panel panel-default prices first">
                            <div class="panel-body">
                                <i class="fa fa-paper-plane icon-u"></i>

                                <h2 class="val">$15<small>/month</small></h2>

                                <ul class="info-list md-list primary">
                                    <li>
                                        <span>5Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>1</span>Email account
                                    </li>
                                    <li>
                                        <span>2</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default">Start Trial</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                        <div class="panel panel-default prices  bg-primary">
                            <div class="panel-body ">
                                <div class="ribbon">Favorite</div>

                                <i class="fa fa-plane icon-u"></i>

                                <h2 class="val">$30<small>/month</small></h2>

                                <ul class="info-list md-list default">
                                    <li>
                                        <span>20Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>10</span>Email account
                                    </li>
                                    <li>
                                        <span>15</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default-trn">Start Trial</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="panel panel-default prices last">
                            <div class="panel-body">
                                <i class="fa fa-rocket icon-u"></i>

                                <h2 class="val">$50<small>/month</small></h2>

                                <ul class="info-list md-list primary">
                                    <li>
                                        <span>100Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>20</span>Email account
                                    </li>
                                    <li>
                                        <span>25</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default">Start Trial</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@
    <!-- Breaking news -->
    @*<section class="section bg-grey">
            <div class="container">
                <h2 class="lg-title lg-title-border">Breaking news</h2>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/011.jpg" alt="camera">
                            <h3>Post title</h3>
                            <em>January 26, 2014 by John</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/31f6.JPG" alt="macbook">
                            <h3>Post title</h3>
                            <em>January 10, 2014 by Ben</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/picjumbo.com.jpg" alt="devices">
                            <h3>Post title</h3>
                            <em>December 27, 2013 by Nicole</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/macbook-air.jpg" alt="macbook">
                            <h3>Post title</h3>
                            <em>December 13, 2013 by Adele</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@

    @section scripts {
       <script type="text/javascript">
            $(document).ready(function () {
                $('#slider-main').hide();
                $('#slider-main').slippry(
                   { pager: false, auto: true,autoDelay:100 }
                    );
                $('#slider-main').show();

                $('.sy-caption-wrap').on('click', function () {
                    window.location.href = '/PortFolio/Index';
                })
            });
</script>
    }



