@{
    ViewBag.Title = "Home Page";
}
<!--===    HEADER     ===-->
<section class="section" style="padding:0 !important">         
        <ul id="slider-main" style="display:none">
            <li>
                <a href="#slide1">
                    <img src="/assets/img/DeathtoStock_Wired3a.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#slide2">
                    <img src="/assets/img/DeathtoStock_Desk3a.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#slide3">
                    <img src="/assets/img/DeathtoStock_Desk1a.jpg" alt="">
                </a>
            </li>
        </ul>
    <div class="space"></div><div class="space"></div>
</section>


    <!--===/END      HEADER     ===-->

   
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-check hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.2s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.4s">Quality</h3>
                        <p class="wow fadeIn" data-wow-delay="0.4s">Nulle omnis iste natus error sit voluptatem accusantium.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-lightbulb-o hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.4s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.6s">Creativity</h3>
                        <p class="wow fadeIn" data-wow-delay="0.6s">Nulle omnis iste natus error sit voluptatem accusantium.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-user hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.6s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="0.8s">Superior Customer Service</h3>
                        <p class="wow fadeIn" data-wow-delay="0.8s">Nulle omnis iste natus error sit voluptatem accusantium.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <i class="fa fa-cloud hovicon effect-3 sub-b easePulse wow" data-wow-delay="0.8s"></i>
                        <h3 class="wow fadeIn m-10-top" data-wow-delay="1s">Industry Best Practices</h3>
                        <p class="wow fadeIn" data-wow-delay="1s">Nulle omnis iste natus error sit voluptatem accusantium.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-lg bg-grey">
        <div class="container">
            <div class="row">
                <h2 class="lg-title lg-title-border">Advantages of hiring US</h2>
                <!--fadeInLeft-->
                <div class="col-sm-6 wow fadeInLeft">
                    <p>Transcendent works across a myriad of industry segments. Our teams are organized in virtual divisions that have the domain expertise and know-how within each industry to offer exceptional technology solutions. Given their industry experience our engineers are quick to relate and understand our customer’s needs.</p>
                    <p>Pulvinar a vestibulum quis, facilisis vel sapien. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    <div class="space-sm"></div>
                    <ul class="info-list md-list style i-primary">
                        <li>
                            <i class="fa fa-play"></i>Industry Specific Experience.
                        </li>
                        <li>
                            <i class="fa fa-play"></i>Scalability and Support.
                        </li>
                        <li>
                            <i class="fa fa-play"></i>You Own the Source Code and IP.
                        </li>
                        <li>
                            <i class="fa fa-play"></i>Real-Time Communication and Collaboration.
                        </li>
                    </ul>
                    <div class="space visible-xs"></div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <img class="img-mw450" src="/assets/img/Showcase-Template-Flat-Presentation-Vol-3-portfolio.png" alt="Flat showcase presentation">
                </div>
            </div>
        </div>
    </section>
    <!-- Our works/ projects section -->
    <section class="section-lg">
        <div class="container">
            <h2 class="lg-title lg-title-border">Our Expertise</h2>
            <ul class="filter-tabs">
                <li class="filter active" data-filter="mix">
                    <span>All</span>
                </li>
                <li class="filter" data-filter="mobile">
                    <span>Mobile</span>
                </li>
                <li class="filter" data-filter="cloud">
                    <span>Cloud</span>
                </li>
                <li class="filter" data-filter="web">
                    <span>Web Apps</span>
                </li>
            </ul>
            <ul class="row  filter-grid-v2" id="Grid">
                <!-- Item 1 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.5s">
                            <img src="/assets/img/sign-up-sketch.jpg" class="img-responsive" alt="Portfolio - application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- mix - select all, devices - filter only devices -->
                <!-- Item 2 -->
                <li class="col-md-4 col-sm-6 mix apps web ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.25s">
                            <img src="/assets/img/minimal-wireframe-assets.jpg" class="img-responsive" alt="Websites Layout">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Web Development</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 3 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.75s">
                            <img src="/assets/img/App-Preview.jpg" class="img-responsive" alt="Portfolio - application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 4 -->
                <li class="col-md-4 col-sm-6 mix cloud ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.6s">
                            <img src="/assets/img/macbook.jpg" class="img-responsive" alt="Apple Macbook Pro">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>cloud</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 5 -->
                <li class="col-md-4 col-sm-6 mix web ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.35s">
                            <img src="/assets/img/webdesign.jpg" class="img-responsive" alt="Webdesign">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Web Development</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Item 6 -->
                <li class="col-md-4 col-sm-6 mix mobile ">
                    <a href="portfolio-item-v2.html" title="View portfolio item">
                        <div class="hover-content wow easeUp" data-wow-delay="0.85s">
                            <img src="/assets/img/app-screen.jpg" class="img-responsive" alt="application">
                            <div class="top-part hidden-xs">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="bottom-part hidden-xs">
                                <h3>Mobile Apps</h3>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="bg-11 bg-cover bg-center">
        <div class="section-lg bg-filter-v2">
            <div class="container">
                <div id="testimonial" class="carousel slide" data-ride="carousel" data-interval="9000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="testimonial">
                                <p>
                                    "I met one of the director from Transcendent build our portal, his confidence and commitment was impressive, it was no-brainer for us give our job to Transcendent, in addition they are really inexpensive but quality of their work is unparalleled Thank you Transcendent and its team."
                                </p>
                                <div class="space-sm"></div>
                                <em>- Giovanny Clark</em>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <p>
                                    "Ajay and veer did our Urgent web site efficiently, beautifully and inexpensively. We tried two other disasters and will use Transcendent for our next web applications. Can’t imagine any better service."
                                </p>
                                <div class="space-sm"></div>
                                <em>- Michael Anderson</em>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing tables -->
    <div id="get-started"></div>
    @*<section class="section">
            <div class="container">
                <h2 class="lg-title lg-title-border">Our plans</h2>
                <div class="space-sm"></div>
                <div class="row">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="panel panel-default prices first">
                            <div class="panel-body">
                                <i class="fa fa-paper-plane icon-u"></i>

                                <h2 class="val">$15<small>/month</small></h2>

                                <ul class="info-list md-list primary">
                                    <li>
                                        <span>5Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>1</span>Email account
                                    </li>
                                    <li>
                                        <span>2</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default">Start Trial</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                        <div class="panel panel-default prices  bg-primary">
                            <div class="panel-body ">
                                <div class="ribbon">Favorite</div>

                                <i class="fa fa-plane icon-u"></i>

                                <h2 class="val">$30<small>/month</small></h2>

                                <ul class="info-list md-list default">
                                    <li>
                                        <span>20Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>10</span>Email account
                                    </li>
                                    <li>
                                        <span>15</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default-trn">Start Trial</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="panel panel-default prices last">
                            <div class="panel-body">
                                <i class="fa fa-rocket icon-u"></i>

                                <h2 class="val">$50<small>/month</small></h2>

                                <ul class="info-list md-list primary">
                                    <li>
                                        <span>100Gb</span>Storage
                                    </li>
                                    <li>
                                        <span>20</span>Email account
                                    </li>
                                    <li>
                                        <span>25</span>Hosted domains
                                    </li>
                                    <li>
                                        <span>24/7</span>Email support
                                    </li>
                                </ul>
                                <div class="space-md"></div>
                                <a href="#" class="btn btn-default">Start Trial</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@
    <!-- Breaking news -->
    @*<section class="section bg-grey">
            <div class="container">
                <h2 class="lg-title lg-title-border">Breaking news</h2>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/011.jpg" alt="camera">
                            <h3>Post title</h3>
                            <em>January 26, 2014 by John</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/31f6.JPG" alt="macbook">
                            <h3>Post title</h3>
                            <em>January 10, 2014 by Ben</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/picjumbo.com.jpg" alt="devices">
                            <h3>Post title</h3>
                            <em>December 27, 2013 by Nicole</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="news">
                            <img class="img-responsive" src="/assets/img/768w/macbook-air.jpg" alt="macbook">
                            <h3>Post title</h3>
                            <em>December 13, 2013 by Adele</em>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis condimentum augue id magna semper rutrum. In enim a arcu imperdiet malesuada.</p>
                            <a href="blog-page.html" class="btn btn-default-trn-v2">
                                Read more
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>*@

    @section scripts {
       <script type="text/javascript">
            $(document).ready(function () {
                $('#slider-main').hide();
                $('#slider-main').slippry(
                   { pager: false, auto: true }
                    );
                $('#slider-main').show();

            });
</script>
    }
