
@{
    ViewBag.Title = "Technologies";
}
<div class="tab-content">

    <div class="tab-pane active fade in margin-b30" id="categories">
        <section class="section">
            <div class="section-md bg-grey-4">
                <div class="container">

                    <h2>Technologies</h2>
                    <p class="text-block">
                       Transcendent has developers that adept at different technologies that propel the industries that make up the business world. Each of our dedicated developers are certified experts in the specific technology that they address. They bring their domain expertise to help clients define the requirements for an effective solution and suggest best practices. We offer the complete range of value added services in application development, customization, integration, and implementation.
                    </p>
                    
                </div>
            </div>
        </section>

        <div class="container section">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-user icon-c"></i>
                        <div class="float-text">
                            <h3><a href="@Url.Action("Database", "Tech")">Databases</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-lock icon-c"></i>
                        <div class="float-text">
                            <h3>Microsoft .Net</h3>

                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-phone icon-c"></i>
                        <div class="float-text">
                            <h3>Android</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-wrench icon-c"></i>
                        <div class="float-text">
                            <h3>Cloud Computing</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-credit-card icon-c"></i>
                        <div class="float-text">
                            <h3>Legacy Software</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-bullhorn icon-c"></i>
                        <div class="float-text">
                            <h3>Java</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-fa fa-search icon-c"></i>
                        <div class="float-text">
                            <h3>Java Script Frameworks</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-signal icon-c"></i>
                        <div class="float-text">
                            <h3>IOT</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="float-box">
                        <i class="fa fa-mobile icon-c"></i>
                        <div class="float-text">
                            <h3>iOS</h3>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



